  //footter
  .myColor{
    color:rgb(49, 48, 48);
    background: rgb(233, 229, 229);
    text-align: center;
 }
 
 .button{
 color:white;
 text-align:center;
 }
 .control{
  color:rgb(245, 248, 245);
  font-size: 40pt;
}
ion-content {
  --background: linear-gradient(#4786ef, #f4f5f8);
}